header{
    background:#2c3e5a;
    color:#fff;
    padding: 0px 20px 0px 20px;
    margin: 0px 0px 0px 0px;
}

nav{
    background:black;
    color:#fff;
    display: flex;
    justify-content: center;
}

aside{
    background: #c0392b;
    color: #fff;
}

a:link{
    color: blue;
}

aside{
    background: #c0392b;
    color: #fff;
}

footer{
    background: #2c3e5a;
    color: #fff;
    
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 0px 0px;
}

.btn-custom{
    position:unset;
    /*top: auto;*/
    /*left: auto;*/
}

.resultOperation{
    text-align: center;
    margin: 20rem 20rem
}